# node modules
node_modules/

# env variables
# .env
# .env.*     # like .env.local, .env.development


# build artifacts
dist/
build/
*.tsbuildinfo

# system files
.DS_Store
Thumbs.db

# log files
*.log

# IDE configs
.vscode/
.idea/
*.sw?

# OS
*.swp
*.swo

# lock files (optional)
package-lock.json
pnpm-lock.yaml
yarn.lock
